.app.dark {
  --bg-color: #00009a;
  --inverted-bg-color: #a5a5a5;

  --primari-color: #047004;
  --secondary-color: #11d111;
  --inverted-primari-color: #161697;
  --inverted-secondary-color: #0000ff;

}