.app.light {
  --bg-color: #a5a5a5;
  --inverted-bg-color: #00009a;

  --primari-color: #0f0f88;
  --secondary-color: #0000ff;
  --inverted-primari-color: #047004;
  --inverted-secondary-color: #11d111;

}